<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>

        {% extends "layout.html" %}
        {% block body %}
        <p>就是404，不服憋着</p>
        <p>就是404，不服憋着</p><p>就是404，不服憋着</p>
        
          <h1>Overview</h1>
          <p>Do you want to <a href="{{ url_for('login') }}">log in?</a>
        {% endblock %}
    
</body>
</html>